	<!DOCTYPE html>

<html>
	<head>
		<meta name="robots" content="noindex, nofollow"/>
		<title>{{msg_map.TXT_SERVICE_NAME}}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
        <link rel="stylesheet" href="/static/custom.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	</head>
	<body>
		{% include 'default/navbar.html' %}
		{% block content %}(no content){% endblock %}
		{% include 'default/foot-copyright.html' %}
	</body>
</html>

